.homeContainer{
    min-height: inherit;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
}

.homeContainer h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 2.5em;
    color: #0066b2;
    font-weight: bolder;
}

.homeContainer p {
    margin-bottom: auto;
    font-size: 1.5em;
    font-weight: 600;
}

.homeContainer .atomicHabits {
    font-size: 1em;
    text-transform: uppercase;
    color: #00308F;
}

.bookRef {
    color: wheat;
}

.bookRef a {
    color: white;
} 
.habitRules {
    margin: auto 0;
    width: 90vw;
    max-width: 800px;
}
